$color1: #F2F3F2;
$color2: #E8EAE8;
$color3: #E6E6D9;
$color4: #E6E6CC;
$color5: #240400;


@mixin font {
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;
}