@import 'utils';
@import 'burger';

body, html {
    height: 100vh;
} // TODO get rid of this later

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include font;

    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
        "nav nav nav"
        "sidebar main main"
        "footer footer footer"
    ;
}

aside {
    grid-area: sidebar;
    background-color: $color4;
}

nav {
    grid-area: nav;
    background-color: $color2;
}

main {
    grid-area: main;
    background-color: $color3;
}

footer {
    grid-area: footer;
    background-color: $color4;
}


@import 'responsive';